<div class="container-xl" id="about">
    <div class="row">
      <img src="../../../assets/images/banner_150.png" alt="banner presentacion" height="150px"/>
    </div>
    <div class="row">
      <div class="col align-self-start col-xl-auto">
        <!--usar overflow-visible para que la imagen se sobreponga al banner? -->
        <div class="card text-center" style="width: 17rem">
          <img
            src="../../../assets/images/cv_card_top.jpg"
            class="card-img-top img-fluid"
            alt="foto de perfil"
          />
          <div class="card-body">
            <h5 class="card-title">Juan Manuel Sanchez Fin</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Fullstack Developer Jr.
            </h6>
          </div>
        </div>
      </div>
      <div class="col align-self-end">
        <div class="card rounded-0 border-0 border-bottom">
          <div class="card-body">
            <h4 class="display-6">Acerca de</h4>
            <p>
              Actualmente con un nuevo objetivo profesional vinculado a la
              programacion y desarrollo web, enriqueciendo y aportándole valor
              a mi perfil de mas de 22 años de experiencia.
            </p>
            <p>
              Me considero pro activo, dinámico, con facilidad de lenguaje.
              Capacidad de auto-organizarme en diversas tareas, autónomo,
              analítico, con excelente capacidad de liderazgo y compromiso en
              mis emprendimientos personales.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>