<div class="container-xl" id="projects">
    <h1 class="display-6">Proyectos</h1>
    <div class="card">
      <div class="card-header">Poryecto Argentina Programa</div>
      <div class="card-body">
        <h5 class="card-title">http://www.linkportfolio.com</h5>
        <p class="card-text">
          Desarrollar una aplicación web full stack, que mostrará: tus datos
          personales, estudios cursados, experiencia laboral, conocimiento de
          las tecnologías y lo que desees agregar. Es decir, ¡crear tu propio
          portfolio web! Esta aplicación deberá ser de arquitectura
          distribuida y contener un diseño de interface (front end) que
          muestre la información, una base de datos que almacene los datos
          antes mencionados y debe contar con las APIs necesarias para proveer
          a través de internet la información (back end).
        </p>
        <a href="#" class="btn btn-primary">Ir a</a>
      </div>
    </div>
  </div>