<div class="container-xl" id="skills">
    <h1 class="display-6">Aptitudes</h1>
    <div class="card-group">
      <div class="card rounded-0 border-0 border-bottom" *ngFor="let skill of skills">
        <div class="card-body">
          <h5 class="card-title">{{skill.titulo}}</h5>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              [attr.aria-valuenow]="skill.nivel"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width]="skill.nivel"
            >
              {{skill.descripcion_nivel}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>