<div class="container-xl" id="experience">
    <h1 class="display-6">Experiencia</h1>
    <div class="card rounded-0 border-0 border-bottom" *ngFor="let experience of experiences">
      <div class="card-body">
        <h5 class="card-title">{{experience.cargo}}</h5>
        <h6 class="card-subtitle mb-2 fw-normal">{{experience.empresa}}</h6>
        <h6 class="card-subtitle mb-2 text-muted fw-normal">{{experience.mes_inicio}} {{experience.anio_inicio}} - {{experience.mes_fin}} {{experience.anio_fin}}</h6>
        <p class="card-text">
        {{experience.descripcion}}
        </p>
      </div>
    </div>    
</div>
